.layout-container {
  min-height:100%;
  position:relative;
  padding-bottom: 0;
}

.header-color{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content-container {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin:0;
  padding: 0;
  height:100%;
}

.footer{
  bottom:0;
  width: 100%;
}

.footer p {
  text-align: center;
  padding: 2px;
  height: 0.5em;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.about-text p {
  color: white;
}

.banner-text{
  background-color: white;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 3rem;
  font-weight: bold;
  color: #333333;
}

.banner-text hr {
  border-top: 3px dotted #333333;
  width: 30%;
  margin: auto;
}

.banner-text p {
  font-size: 14px;
  width: 100%;
  padding-top: 1em;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin: auto;
}

.social-links i {
  color: #333333;
  font-size: 3em;
  padding: 4px;
}

.box {
  display: flex;
  width: 30%;
  height: 4px;
  margin: auto;
}

.box-sm {
  height: 8px;
  margin: 0;
  flex-grow: 1;
  transition: all .8s ease-in-out;
  cursor: pointer;
}

// Growing the width of box, when hover using flex-grow property
.box-sm:hover {
  flex-grow: 12;
}

.red {
  background-color: #FF5852;
}

.orange {
  background-color: #FF9000;
}

.yellow {
  background-color: #FFD300;
}

.green {
  background-color: #3DCD49;
}

.blue {
  background-color: #0089D7;
}

.purple {
  background-color: #9E44C4;
}

@media screen and(max-width: 1024 px) {
    .mdl-layout__header {
        display: none
    }
    .mdl-layout--fixed-header > .mdl-layout__header {
        display: -webkit-flex;display: -ms-flexbox;display: flex
    }
}
